<!DOCTYPE html>

<html lang="zh">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>短链接生成器</title>
  </head>

  <body>
    <h1>短链接生成器</h1>

    <% if @error %>
      <div><%= @error %></div>
    <% end %>

    <form action="/shorten" method="post">
      <div>
        <label>
          请输入要缩短的URL：
          <input
            id="url"
            name="url"
            type="url"
            autocomplete="off"
            placeholder="https://example.com"
            required
          >
        </label>
      </div>

      <button type="submit">生成短链接</button>
    </form>
  </body>
</html>
