<!DOCTYPE html>

<html lang="zh">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>短链接生成成功</title>
  </head>

  <body>
    <h1>短链接生成成功</h1>

    <p>
      <strong>原始URL：</strong>
      <a href="<%= params['url'] %>" target="_blank"><%= params['url'] %></a>
    </p>

    <p>
      <strong>短链接：</strong>
      <a href="<%= @shorten_url %>" target="_blank"><%= @shorten_url %></a>
    </p>

    <p><a href="/"> 生成新的短链接 </a></p>
  </body>
</html>
